<%= form_tag(admin_dashboard_stock_search_path, method: :get, remote: true) do %>
  <div style="display:flex;">
    <%= date_field_tag 'date_from', @date_from%>
    <%= submit_tag 'Search', class: 'stock-search-btn' %>
  </div>

<% end %>

<% if !@date_from.blank? %>
<table style="color:#696969;" class="results-table">
  <tr>
    <th>Description</th>
    <th>Pack Size</th>
    <th>Price</th>
    <th>Total Stock</th>
  </tr>
  <% Product.all.limit(11).each do |p| %>
    <tr>
     <td><%= p.description %></td>
     <td><%= p.pack_size %></td>
     <td><%= p.price %></td>
     <td><%= p.stock_count_on(@date_from) %></td>
    </tr>
  <% end %>
<% else %>
  <%#= "No results found for this this date..." %>
<% end %>
</table>
