<table style="color:#696969;">
  <tr>
    <th>Order#</th>
    <th>Status</th>
    <th>Created At</th>
    <th>Customer</th>
    <th>Company</th>
    <th>Admin Assigned</th>
    <th>Total Price</th>
    <th>% Commission</th>
    <th>% Commission Val</th>
  </tr>

  <%# @sales_staff_companies_orders = Order.where("orders.created_at >= ? AND orders.created_at <= ?", @start_date.to_datetime.midnight..@start_date.to_datetime.end_of_day, @end_date.to_datetime.to_time.end_of_day).joins(:company).where("companies.account_owner = ?", @sales_rep).page(params[:companies_orders]).per(15) %>

    <% @sales_staff_companies_orders.per(30).each do |orders| %>
      <tr>
        <td><%= orders.id %></td>
        <% if orders.status == "Incomplete" %>
        <td class="status_tag Incomplete"><%= orders.status.upcase %></td>
        <% elsif orders.status == "Dispatched" %>
        <td class="status_tag Dispatched"><%= orders.status.upcase %></td>
        <% elsif orders.status == "Ordered" %>
        <td class="status_tag Ordered"><%= orders.status.upcase %></td>
        <% else %>
        <td class="status_tag Cancelled"><%= orders.status.upcase %></td>
        <% end %>
        <td><%= orders.created_at.strftime("%A, %b %d - %H:%M:%S") %></td>
        <td><%= orders.user.forname + " " + orders.user.surname %></td>
        <td><%= orders.company.name %></td>
        <td><%= orders.taken_by %></td>
        <td><%= number_to_currency orders.total_price %></td>
        <td><%= @commission = User.find(@sales_rep).commission_rate.blank? ? 0 : User.find(@sales_rep).commission_rate %>%</td>
        <% @comm_val = number_to_currency orders.total_price * @commission.to_i/100.to_f %>
        <td><%= @comm_val.blank? ? nil : @comm_val %></td>
      </tr>
    <% end %>
      <tr>
        <td colspan="5"></td>
        <td>Total Sales:</td>
        <th><%= number_to_currency @sales_staff_companies_orders.collect { |o| o.total_price }.sum %></th>
        <td>Total Commission:</td>
        <th><%= number_to_currency @sales_staff_companies_orders.collect { |o| o.total_price * @commission/100.to_f }.sum %></th>
      </tr>
</table>

<div class="pagination">
  <div class="float-right">
    <%= page_entries_info @sales_staff_companies_orders %>
  </div>
  <div class="pad-right">
    <%= paginate @sales_staff_companies_orders, param_name: :companies_orders, remote: true %>
  </div>
  <div class="pad-right">
   <span>Download:</span> <%= link_to "CSV", admin_dashboard_sales_staff_reports_path(format: :csv)+"?sales_staff_query=#{params[:sales_staff_query]}&start_date=#{params[:start_date]}&end_date=#{params[:end_date]}" %>
  </div>
</div>

<style>
  table {
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
    word-wrap:break-word;
    box-shadow: 0px 4px 8px 0px rgba(176,176,176,1);
    /*display: flex;
    flex-flow: column;*/
    /*word-wrap:break-all;*/
  }

  td, th {
    text-align: left;
    padding: 8px;
    white-space: normal !important;
    word-wrap:break-all;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .status_tag {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    letter-spacing: 0.1em;
    line-height: 16px;
    padding: 4px 8px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    align-items: center;
    margin:12px;
  }

  .Incomplete {
    background-color:yellow;
    color:white !important;
    font-weight:bold !important;
    color:grey !important;
  }

  .Dispatched {
    background-color:green;
    color:white !important;
    font-weight:bold !important;
  }

  .Ordered {
    background-color:red;
    color:white !important;
    font-weight:bold !important;
  }

  .Cancelled {
    background-color:grey;
    color:white !important;
    font-weight:bold !important;
  }

  .pagination {
    justify-content: space-between;
    align-items: center;
  }
</style>







