<table style="color:#696969;">
  <tr>
    <th>CONSIGNMENT</th>
    <th>SHIPPED AT</th>
    <th>ORDER</th>
    <th>COMPANY</th>
    <th>STATUS</th>
    <th>TRACKING NO</th>
    <th></th>
  </tr>

<% tni = -1 %>
<% tnuon = -1 %>

<% @consignment = Consignment.all.where(tracking_no: "").limit(10).each do |consignment| %>
  <tr>
    <td><%= link_to consignment.id, admin_consignment_path(consignment) %></td>
    <td><%= consignment.shipped_at.strftime("%A, %e %b - %H:%M %p") %></td>
    <td><%= link_to consignment.order_id, admin_order_path(consignment.order_id) %></td>
    <td><%= link_to consignment.order.company.name, admin_company_path(consignment.order.company) %></td>
    <% if consignment.status == "Incomplete" %>
      <td class="Incomplete"><%= consignment.status.upcase %></td>
      <% else consignment.status == "Dispatched" %>
      <td class="Dispatched"><%= consignment.status.upcase %></td>
    <% end %>
    <%= simple_form_for [:admin,consignment] do |f| %>
      <td><%= f.input :tracking_no, input_html: { class: "tracking_no_input tracking_no_input-#{tni+=1}" }, label: false, placeholder: "e.g. IB1533597344K" %></td>
      <td><%= f.submit "Update", class: "tracking_no_update tracking_no_update_on-#{tnuon+=1}" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .Incomplete {
    background:#FFA339;
    font-weight:bold;
    letter-spacing: 0.15em;
    color:white;
  }

  .Dispatched {
    background:#8BAA8B;
    font-weight: bold;
    letter-spacing: 0.15em;
    color:white;
  }
</style>

<script>
  window.onload = function() {
    $('.tracking_no_update').hide()
    $('.tracking_no_update').each(function(index){
      $('.tracking_no_input-'+index).click(function(){
        $('.tracking_no_update_on-'+index).show()
        console.log("Showing Button")
      })
    })
  }
</script>

