<% @order = Order.find(params[:id]) %>
<% @order_items = @order.order_items %>

<%= form_for [:admin, @order] do |f| %>
<h1 style="color:#696969;">Order# <%= @order.id %> Summary</h1>

<table style="color:#696969;">
  <tr>
    <th>Product Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Pack Size</th>
    <th>Total Price</th>
    <th>Quantity Confirmed</th>
  </tr>
<%= f.fields_for :order_items do |oi| %>
  <tr>
    <td><%= oi.object.product.product_code %></td>
    <td><%= oi.object.product.name %></td>
    <td><%= oi.object.product.description %></td>
    <td><%= number_to_currency oi.object.product.price %></td>
    <td><%= oi.object.quantity %></td>
    <td><%= oi.object.product.pack_size %></td>
    <td><%= number_to_currency oi.object.product.price * oi.object.quantity.to_i %></td>
    <td><%= oi.number_field :quantity_dispatched %></td>
    <%= oi.hidden_field :product_id %>
  </tr>
<% end %>
  <tr>
    <td colspan="6" style="text-align:right;"><b>Your Order Total:</b></td>
    <td colspan="7"><b> <%=number_to_currency @order.calculate_total %></b></td>
  </tr>
</table>
<%= f.submit "Dispatch Order" %>
<% end %>

<button onclick="window.print()">Print this page</button>


<style>
table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
