<% @order = Order.find(params[:id]) %>
<% @order_items = @order.order_items %>

<table style="color:#696969;">
  <tr>
    <th>Shipping Address</th>
    <th>Customer/Order Details</th>
    <th>Order Notes</th>
  </tr>
  <tr>
    <% @split = @order.address.split(',') %>
    <td> <p><%= raw @split.join("<br />") %></p> </td>
    <td>
      <p>Order for <b><%= @order.user.forname %></b><br>
      Company: <b><%= @order.user.company ? @order.user.company.name : "Nil" %></b><br>
      Order Date: <b><%= @order.created_at.strftime("%A, %b %d") %></b><br>
      Order Time: <b><%= @order.created_at.strftime("%H:%M:%S") %></b>
      </p>
    </td>
    <td>
      <%= @order.notes %>
    </td>
  </tr>

</table>

<%= form_for [:admin, @order] do |f| %>
<!-- <h1 style="color:#696969;">Order# <%#= @order.id %> Summary</h1> -->

<table style="color:#696969;">
  <tr>
    <th>Product Code</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Pack Size</th>
    <th>Total Price</th>
    <th>Quantity Disptached</th>
    <th>Quantity To Dispatch</th>
  </tr>
<%= f.fields_for :order_items do |oi| %>
  <tr>
    <td><%= oi.object.product.product_code %></td>
    <td><%= oi.object.product.description %></td>
    <td><%= number_to_currency oi.object.product.price %></td>
    <td><%= oi.object.quantity %></td>
    <td><%= oi.object.product.pack_size %></td>
    <td><%= number_to_currency oi.object.product.price * oi.object.quantity.to_i %></td>
    <td><%= oi.object.quantity_dispatched %></td>
    <td><%= oi.number_field :to_dispatch %></td>
    <%= oi.hidden_field :product_id %>
  </tr>
<% end %>
  <tr>
    <td><%= f.submit "Dispatch Order" %></td>
    <td colspan="6" style="text-align:right;"><b>Your Order Total:</b></td>
    <td colspan="7"><b> <%=number_to_currency @order.calculate_total %></b></td>
  </tr>
</table>
<% end %>
   <button onclick="window.print();">Print Order</button>

<style>
table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
