<% @order = Order.find(params[:id]) %>
<% @order_items = @order.order_items %>

<% if @order.status == "Cancelled" %>
  <% if !@order.taken_by.blank? %>
    <p id="cancel-notice">Order# <%= @order.id %> was cancelled by <%= @order.taken_by.blank? ? "No Admin was assigned" : @order.taken_by %>!</p>
  <% else %>
    <% @order.audits.last.audited_changes.each { |k,v| @status = v.last} %>
    <p id="cancel-notice">Order# <%= @order.id %> was <%=@status %> by <%= @order.audits.last.user.company.name %></p>
  <% end %>
<% end %>

<table style="color:#696969;">
  <tr>
    <th>Shipping Address</th>
    <th>Customer/Order Details</th>
    <th>Order Notes</th>
  </tr>
  <tr>
    <% @split = @order.address.split(',') %>
    <td> <p><%= raw @split.join("<br />") %></p> </td>
    <td>
      <p>Order for <b><%= @order.user.forname %></b><br>
      Company: <b><%= @order.user.company ? @order.user.company.name : "Nil" %></b><br>
      Order Date: <b><%= @order.created_at.strftime("%A, %b %d") %></b><br>
      Order Time: <b><%= @order.created_at.strftime("%H:%M:%S") %></b>
      </p>
    </td>
    <td>
      <%= @order.notes %>
    </td>
  </tr>

</table>

<%= form_for [:admin, @order] do |f| %>
<!-- <h1 style="color:#696969;">Order# <%#= @order.id %> Summary</h1> -->

<table style="color:#696969;">
  <tr>
    <th>Product Code</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Pack Size</th>
    <th>Total Price</th>
    <th>Quantity Disptached</th>
    <th>Quantity To Dispatch</th>
  </tr>
<%= f.fields_for :order_items do |oi| %>
  <tr>
    <td><%= oi.object.product.product_code %></td>
    <td><%= oi.object.product.description %></td>
    <td><%= number_to_currency oi.object.product.price %></td>
    <td><%= oi.object.quantity %></td>
    <td><%= oi.object.product.pack_size %></td>
    <td><%= number_to_currency oi.object.product.price * oi.object.quantity.to_i %></td>
    <td><%= oi.object.quantity_dispatched %></td>
    <td><%= oi.number_field :to_dispatch %></td>
    <%= oi.hidden_field :product_id %>
  </tr>
<% end %>
  <tr>
    <td><%= f.submit "Dispatch Order" %></td>
    <td colspan="6" style="text-align:right;"><b>Your Order Total:</b></td>
    <td colspan="7"><b> <%=number_to_currency @order.calculate_total %></b></td>
  </tr>
</table>
<% end %>

<button class="view-consigns custom-btn">View Consignments</button>
<button class="custom-btn" onclick="window.print();">Print Order</button>
<h1></h1>

<% if @order.consignments.blank? %>
  <h2 class="consign">There are no consignments created for this order yet...</h2>
<% else %>
  <% @order.consignments.each_with_index do |oc, i| %>
    <table style="color:#696969;" class="consign consign-<%=i%>">
      <tr>
        <th>Consignment ID</th>
        <th>Shipped At</th>
        <th>Tracking#</th>
        <th>Status</th>
      </tr>
      <tr>
        <td><%= oc.id %></td>
        <td><%= oc.shipped_at.strftime("%A, %e %b - %H:%M %p") %></td>
        <td><%= oc.tracking_no %></td>
        <% if oc.status == "Incomplete" %>
        <td class="Incomplete"><%= oc.status.upcase %></td>
        <% else oc.status == "Dispatched" %>
        <td class="Dispatched"><%= oc.status.upcase %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>Admin Notes:</td>
        <td><%= oc.notes.to_s %></td>
        <td><b>Boxes Sent: </b></td>
        <td><%= oc.boxes.to_s %></td>
      </tr>
    </table>
    <table class="consign-item consign-item-<%=i%>">
      <tr>
        <th>Product Code</th>
        <th>Product Desc</th>
        <th>Requested</th>
        <th>Dispatched</th>
        <th>Remaining</th>
        <th>Status</th>
        <th>Date Dispatched</th>
        <th>Price</th>
      </tr>
      <% oc.consignment_items.each do |ci| %>
        <tr>
          <td><%= ci.order_item.product.product_code %></td>
          <td><%= ci.order_item.product.description %></td>
          <td><%= ci.order_item.quantity %></td>
          <td><%= ci.quantity %></td>
          <td><%= ci.order_item.to_dispatch %></td>
          <% if ci.consignment.status == "Incomplete" %>
          <td class="Incomplete"><%= ci.consignment.status.upcase %></td>
          <% else ci.consignment.status == "Dispatched" %>
          <td class="Dispatched"><%= ci.consignment.status.upcase %></td>
          <% end %>
          <td><%= ci.created_at.strftime("%A, %e %b - %H:%M %p") %></td>
          <td><b><%= number_to_currency ci.order_item.product.price %></b></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<style>
  table {
      /*font-family: arial, sans-serif;*/
      border-collapse: collapse;
      width: 100%;
      box-shadow: 3px 4px 8px 0px rgba(176,176,176,1);
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }

  body {
    background:white;
  }

  #cancel-notice {
    background-color: #c80303;
    background-image: linear-gradient(180deg, #e9dcdcbd, #dfcccc);
    border-bottom: 1px solid #efb2b2;
    color: #780000;
    height: 70px;
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    align-items: center;
  }

  .custom-btn {
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    background: transparent;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    /*display: inline-block;*/
    line-height: 18px;
    margin-top: 20px;
    padding: 12px 8px;
    /*position: relative;*/
    text-align: center;
    text-transform: uppercase;
    transition: 0.25s all;
    background-color: #009688;
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
    min-width: 88px;
  }

  .custom-btn:hover {
    color: white;
    background: #00c9b6;
    outline: none;
  }

  .Incomplete {
  background:#FFA339;
  font-weight:bold;
  letter-spacing: 0.15em;
  color:white;
  /*color:#918f8a;*/
  }

  .Dispatched {
    background:#8BAA8B;
    font-weight: bold;
    letter-spacing: 0.15em;
    color:white;
  }

  .consign {
    margin-top: 20px;
  }

  .consign:hover {
    cursor:pointer;
  }

  .consign-item {
    margin-top: 20px;
  }
</style>


<script>
  $('.consign').hide()
  $('.view-consigns').on('click',function(){
    $('.consign').toggle()
  })
  $('.consign').each(function(index){
    $('.consign-item-'+index).hide()
    $('.consign-'+index).on('click',function(){
      $('.consign-item-'+index).toggle()
    })
  })
</script>





