<%= simple_form_for @order do |f| %>
<div class="container">
  <div class="row pad-top-bot">
    <div class="col-md-4 dark-grey">
      <h4>Shipping Address</h4>
      <%= f.text_area :address %>
    </div>
    <div class="col-md-4 text-center dark-grey"><br><br>
      <h4>Order for <b><%= current_user.forname %></b></h4>
      <h4>Company: <b><%= current_user.company ? current_user.company.name : "Nil" %></b></h4>
      <h4>Order Date: <b><%= Time.now.strftime("%A, %b %d") %></b></h4>
      <h4>Order Time: <b><%= Time.now.strftime("%H:%M:%S") %></b></h4>

    </div>
    <div class="col-md-4 text-right dark-grey">
      <h4>Order Notes</h4>
      <%= f.text_area :notes %>
    </div>
  </div>


  <div class="row text-center dark-grey" style="background-color:;">
    <div class="col-md-2">
        <h4>Product Code</h4>
    </div>
    <div class="col-md-2">
        <h4>Quantity</h4>
    </div>
    <div class="col-md-2">
        <h4>Description</h4>
    </div>
    <div class="col-md-2">
        <h4>Pack Size</h4>
    </div>
    <div class="col-md-2">
        <h4>Price</h4>
    </div>
    <div class="col-md-2">
        <h4>Current Total</h4>
    </div>
  </div>
  <% my_counter = 0 %>
    <%= f.fields_for :order_items do |oi| %>
  <div class="row bg-color">
    <div class="col-md-2">
      <td><%= oi.select(:product_id, Product.all.collect { |p| [p.product_code, p.id] }, {include_blank: "Select One"}, {class: "product-selector form-control selectpicker", data: {counter_id: my_counter}} ) %></td>
    </div>
    <div class="col-md-2">
      <%= oi.text_field :quantity, class: "quan-tot form-control", data: {counter_id: my_counter } %>
    </div>
    <div class="col-md-2">
      <input id="product-description-<%= my_counter %>" class="form-control" value="<%= oi.object.product ? oi.object.product.description : "" %>" disabled>
    </div>
    <div class="col-md-2">
      <input id="pack-size-<%= my_counter %>" class="form-control" value="<%= oi.object.product ? oi.object.product.pack_size : "" %>"  disabled>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <input id="price-<%= my_counter %>" class="form-control" value="<%= oi.object.product ? oi.object.product.price : "" %>" disabled>
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group"><span class="input-group-addon">£</span><input class="order-item-total form-control" id="total-<%= my_counter %>" value="<%= oi.object.total %>" disabled></div>
    </div>
  </div>
    <% my_counter = my_counter.to_i + 1 %>
    <% end %>
  <div class="row pad-top-bot" style="background-color:#fffafa;">
    <div class="col-md-2">
      <%= f.submit "Submit Order", class: "btn btn-primary"%>
  <% end %>
    </div>
    <div class="col-md-2"><%= link_to "My Orders", orders_path, class: "btn btn-warning" %></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2 text-right">
      <strong class="dark-grey">Total: </strong>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <input type="text" class="form-control" value="<%= @order.calculate_total %>" id="total-order-value" disabled>
      </div>
    </div>
  </div>
</div>

<script>
  <%= raw render partial: "orders.js" %>
</script>

<!-- <div class="col-xs-12 col-md-8">
  <%#= form_for @order do |f| %>
    <%# if @order.errors.any? %>
      <div class="errors-container">
        <ul>
          <%# @order.errors.full_messages.each do |order| %>
            <li><%#= order %></li>
          <%# end %>
        </ul>
      </div>
    <%# end %>
    <%#= f.text_area :notes %>
    <%# my_counter = 0 %>
    <%#= f.fields_for :order_items do |oi| %>
      <div id="order-item-container">
      <%#= render partial: "order_item", locals: { oi: oi, counter: my_counter } %>
      <%# my_counter = my_counter.to_i + 1 %>
      </div>
    <%# end %>
    <strong>Total: </strong><input type="text" value="<%= @order.calculate_total %>" id="total-order-value" disabled><br>
    <%#= f.submit "Submit Order" %>
  <%# end %>
</div> -->


<!-- <script>
  window.onload = function() {
  $('document').ready(function(){
    $('.selectpicker').selectpicker({
      style: 'btn-info',
      size: 4
    });
  });
}
</script> -->
