<div class="container">
  <div class="message">
    <div class="col-xs-12 col-md-6" style="font-size:2.2em;color:#696969;">
      <b><%= current_user.forname %>'s Orders</b>
    </div>
    <div class="col-xs-12 col-md-6 text-right">
      <%= link_to "New Order", new_order_path, class: "btn btn-success" %>
    </div>
  </div>

  <% @orders.each do |o| %>
    <%= link_to order_path(o) do %>
      <div class="message">
        <div class="message-name">
          <h3>Order# <%= o.id %></h3>
          <% unless o.created_at %>
          <p><%= o.created_at.strftime("%m/%d/%Y") %></p>
          <p><%= o.created_at.strftime("%H:%M:%S") %></p>
          <% else o.updated_at? %>
          <p><%= o.updated_at.strftime("%m/%d/%Y") %></p>
          <p><%= o.updated_at.strftime("%H:%M:%S") %></p>
          <% end %>
        </div>
        <div class="message-body">
          <p><strong>Total Quantities: <%= o.total_quantity %></strong></p>
          <p>
            <b>Delivery Address:</b> <%= o.address %>
          </p>
          <% o.consignments.select { |oc| @t = oc.tracking_no }  %>
            <p><b>Tracking No:</b> <%= @t == "" || @t.nil? ? "Provided Upon Dispatch" : @t %></p>
            <!-- o.consignments.last.tracking_no -->
        </div>
        <div class="message-status">
          <% if o.status == "Ordered" %>
          <p class="status pending"><%= o.status %></p>
          <% elsif o.status == "Dispatched" %>
          <p class="status accepted"><%= o.status %></p>
          <% elsif o.status == "Incomplete" %>
          <p class="status declined"><%= o.status %> </p>
          <% end %>
          <p class="price"><%= number_to_currency o.calculate_total %></p>
          <%#= link_to "Delete", orders_path(o) ,method: :destroy, data: {confirm: "Are you sure?"}, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
