<% @consignment = Consignment.find(params[:id]) %>
<% @consignment_items = @consignment.consignment_items %>

<table style="color:#696969;">
  <tr>
    <th>Customer</th>
    <th>Company</th>
    <th>Order#</th>
    <th>Product Code</th>
    <th>Product Desc</th>
    <th>Requested</th>
    <th>Dispatched</th>
    <th>Remaining</th>
    <th>Status</th>
    <th>Date Dispatched</th>
    <th>Price</th>
  </tr>
<% @consignment.consignment_items.each do |ci| %>
  <tr>
    <td><%= ci.order_item.order.user.forname.to_s + " " + ci.order_item.order.user.surname.to_s %></td>
    <td><%= ci.order_item.order.user.company.name %></td>
    <td><%= ci.order_item.order.id %></td>
    <td><%= ci.order_item.product.product_code %></td>
    <td><%= ci.order_item.product.description %></td>
    <td><%= ci.order_item.quantity %></td>
    <td><%= ci.quantity %></td>
    <td><%= ci.order_item.to_dispatch %></td>
    <% if ci.consignment.status == "Incomplete" %>
    <td class="Incomplete"><%= ci.consignment.status.upcase %></td>
    <% else ci.consignment.status == "Dispatched" %>
    <td class="Dispatched"><%= ci.consignment.status.upcase %></td>
    <% end %>
    <td><%= ci.created_at.strftime("%A, %e %b - %H:%M %p") %></td>
    <td><b><%= number_to_currency ci.order_item.product.price %></b></td>
  </tr>
<% end %>
  <tr>
    <%= simple_form_for [:admin, @consignment] do |f|  %>
    <td colspan="1"><b>Tracking No:</b></td>
    <td colspan="1"><%= f.input_field :tracking_no, placeholder: "IB1533597344K" %></td>
    <td><b>Admin Notes:</td>
    <td><%= f.text_field :notes %></td>
    <td><b>Boxes Sent: </b></td>
    <td><%= f.number_field :boxes %></td>
    <td colspan="3" style="text-align:right;"><b>Your Order Total:</b></td>
    <td colspan="4"><b><%=number_to_currency @consignment.consign_total %></b></td>
  </tr>
</table>
    <td><%= f.submit %></td>
    <% end %>
    <button onclick="window.print()">Print this page</button>



<style>
.Incomplete {
  background:#FFA339;
  font-weight:bold;
  letter-spacing: 0.15em;
  color:white;
  /*color:#918f8a;*/
}
.Dispatched {
  background:#8BAA8B;
  font-weight: bold;
  letter-spacing: 0.15em;
  color:white;

}
table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
